:root {
    --primary: #F90404;
    --btn-dark: #c21111;
    --btn-darker: #a90d0d;
    --primary-light: #f904040e;
    --secondary: #1F235A;
    --bg-pirmary: #FAFAFA;
    --egg-white: #FAF9F6;
    --highlihgt: #FFE3D3;
    --white: #fff;
    --black: #000;
    --black-light: #1C1D20;
}

@font-face {
    font-family: bbGlobal Sans Regular;
    src: url("./font/Montserrat/static/Montserrat-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: bbGlobal Sans Medium;
    src: url("./font/Montserrat/static/Montserrat-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: bbGlobal Sans SemiBold;
    src: url("./font/Montserrat/static/Montserrat-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

html {
    font-size: 16px;
}

.flair {
    width: 0.9375rem;
    /* 15px */
    height: 0.9375rem;
    /* 15px */
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: var(--primary);
    border-radius: 50%;
}